ul,ol{
	list-style: none;
	padding: 0;
}
.container{
	text-align: center;
}
.table{
	text-align: left;
}
#carousel-example-generic{
  height: 500px;
  margin: 0 auto;
}
#carousel-example-generic img{
	width: 100%;
	height: 500px;
}
.row img{
	width: 100%;
}
.row-container{
	width: 90%;
	margin: 0 auto;
	text-align: left;
}
.film-info{
	margin-bottom: 20px;
}
.pageing{
	margin-bottom: 20px;
}



/*search*/
.film-item{
	border: #979797 solid 1px;
	margin-top: 15px;
}
.film-img{
	padding: 10px;
}
.film{
	position: relative;
	padding: 10px;
	text-align: left;
}
.film-title{
	font-size: 18px;
	font-weight: 700;
}
.film-play{
	position: absolute;
	padding: 5px 10px;
	background: #3a99e5;
	color: #fff;
	right: 0px;
	top: 0px;
}