{% extends "admin/admin.html" %}
{% import "common/pageing.html" as pg %}
{% block content%}
<!-- 评论列表 -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="title">
                  <div class="fl">评论列表</div>
                  <div class="icon fr">
                    <div class="input-group fr admin">
                      <input type="text" class="form-control" placeholder="请输入关键字" aria-describedby="basic-addon2">
                      <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span></div>
                  </div>
                </div>
                <div class="card-content">
                  {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                  <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     {{ msg }}
                  </div>
                  {% endfor %}
                  <table class="table admin">
                    <tbody>
                      	{% for t in page_data.items %}
                          <tr>
                            <td>
                              <div class="media">
                                  <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                      src="{{ url_for('static',filename='uploads/'+t.user.face) }}" style="width: 64px; height: 64px;">
                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <h4 class="media-heading">{{ t.user.name }}</h4>
                                    关于电影<a href="#">{{ t.movie.title }}</a>的评论：{{ t.content }}
                                  </div>
                                </div>
                            </td>
                            <td>
                              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ t.addtime }}
                              <a class="label label-danger" href="{{ url_for('admin.removecomment',id=t.id )}}">删除</a>
                            </td>
                          </tr>
                        {% endfor %}
                        <tr>
                          <td>
                           {{ pg.page(page_data,"admin.commentlist") }}
                          </td>
                        </tr>

                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
