<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap-3.3.7-dist/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin.css')}}">
</head>

<body>
	<!-- 管理员登录页 -->
	<div class="row">
		<div class="col-xs-10   col-md-4 col-xs-offset-1 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 管理员登录</h3>
				</div>
				<div class="panel-body">
					{% for msg in get_flashed_messages() %}
						<font style="color: red">{{ msg }}</font>
					{% endfor %}

					<form method="POST">
						<div class="form-group">
							{{ form.account }}
							{% for err in form.account.errors %}
								<font style="color: red">{{ err }}</font>
							{% endfor %}
						</div>
							{{ form.pwd }}
							{% for err in form.pwd.errors %}
								<font style="color: red">{{ err }}</font>
							{% endfor %}
						</div>
						{{ form.submit }}
						{{ form.csrf_token }}
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="{{url_for('static',filename='bootstrap-3.3.7-dist/js/bootstrap.min.js')}}"></script>


</body>

</html>
