{% extends "admin/admin.html" %}
{% block content%}
<!-- 添加标签 -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="title">
                  <div class="fl">添加标签</div>
                </div>
                <div class="card-content">
                  <form method="post" action="{{ url_for('admin.updatemoviecol',id=id)}}">
                    {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       {{ msg }}
                    </div>
          					{% endfor %}
                    {% for msg in get_flashed_messages(category_filter=["err"]) %}
                      <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ msg }}
                      </div>
                    {% endfor %}
                    <label for="exampleInputEmail1">原标签名</label>
                    <span class="label label-info">{{ m.content }}</span>
                    <div class="form-group">
                      <label for="exampleInputEmail1">新标签名</label>
                      {{ form.content(value=m.content) }}
                      {% for err in form.content.errors %}
                        	<font style="color: red">{{ err }}</font>
                      {% endfor %}
                    </div>
                    {{ form.csrf_token }}
                    {{ form.submit(value='修改')}}
                  </form>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
